.redes {
  display: flex;
  flex-direction: column;
  justify-content: center; }

body {
  background-color: grey;
  font-family: "Cinzel"; }

.titulo {
  color: #face09; }

.a {
  text-decoration: none; }

.logo {
  transition: all 0.3s; }
  .logo:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite; }

@keyframes shake {
  0% {
    transform: translate(2px, 2px) rotate(180deg); } }

.fotosPrincipales {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  transition: all 1s; }
  .fotosPrincipales:hover {
    transform: scale(1, 1);
    box-shadow: 2px 1px 28px 28px rgba(209, 192, 15, 0.51);
    -webkit-box-shadow: 2px 1px 28px 28px rgba(209, 192, 15, 0.51);
    -moz-box-shadow: 2px 1px 28px 28px rgba(209, 192, 15, 0.51); }
  .fotosPrincipales.uno:hover {
    transform: scale(1, 1);
    box-shadow: 2px 1px 28px 28px #d10f0f;
    -webkit-box-shadow: 2px 1px 28px 28px #d10f0f;
    -moz-box-shadow: 2px 1px 28px 28px #d10f0f; }
  .fotosPrincipales.tres:hover {
    transform: scale(1, 1);
    box-shadow: 2px 1px 28px 28px #33ff00;
    -webkit-box-shadow: 2px 1px 28px 28px #33ff00;
    -moz-box-shadow: 2px 1px 28px 28px #33ff00; }
  .fotosPrincipales.cuatro:hover {
    transform: scale(1, 1);
    box-shadow: 2px 1px 28px 28px #ff00f2;
    -webkit-box-shadow: 2px 1px 28px 28px #ff00f2;
    -moz-box-shadow: 2px 1px 28px 28px #ff00f2; }
  .fotosPrincipales.cinco:hover {
    transform: scale(1, 1);
    box-shadow: 2px 1px 28px 28px #00fff2;
    -webkit-box-shadow: 2px 1px 28px 28px #00fff2;
    -moz-box-shadow: 2px 1px 28px 28px #00fff2; }

section p {
  font-weight: bolder;
  line-height: 2; }

.productos {
  width: 350px;
  height: 350px;
  object-fit: cover;
  margin: 2%; }

.carrouselProductos {
  display: flex;
  overflow-x: scroll;
  width: 70%;
  margin: auto; }
  .carrouselProductos .carrouselProductos::-webkit-scrollbar {
    width: 2px;
    /* width of the entire scrollbar */ }
  .carrouselProductos .carrouselProductos::-webkit-scrollbar-track {
    background: #ffffff;
    /* color of the tracking area */
    border-radius: 6px; }
  .carrouselProductos .carrouselProductos::-webkit-scrollbar-thumb {
    background-color: #080808;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #080808;
    /* creates padding around scroll thumb */ }

div h2 {
  text-align: center; }

.contenedorProductos {
  gap: 60px;
  cursor: pointer;
  margin-top: 100px;
  width: 50%;
  margin: auto;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.contenedorProductos div {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column; }

.botonProductos {
  background-color: grey; }
  .botonProductos:hover {
    background-color: #face09; }

.boton {
  background-color: #face09; }
  .boton:hover {
    background-color: white; }

.casa {
  color: black; }
  .casa:hover {
    color: white; }

.facebook {
  color: black; }
  .facebook:hover {
    color: white; }

.instagram {
  color: black; }
  .instagram:hover {
    color: white; }

.wsp {
  color: black; }
  .wsp:hover {
    color: white; }

.correo {
  color: black; }
  .correo:hover {
    color: white; }

iframe {
  width: 100%; }
