*{
    margin: 0%;
    padding: 0%;
}
body{
    width: 100%;
    font-family: 'Cinzel', serif;
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8687850140056023) 27%, rgba(36,36,34,0.6755077030812324) 42%, rgba(152,157,24,1) 80%, rgba(188,195,21,1) 92%, rgba(231,240,17,1) 100%);  
}

a{
    text-decoration: none;
}

.barraNavegacion{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.navegadores{
    font-size: 25px;
     font-weight: bolder;
     color: #080808;
}

.casa{
    color: #080808;
}

.casa:hover{
    color: #fcfcfc;
}


.titulo{
    font-size: 4rem;
    color:  #080808;
    margin-top: 30px;
    text-align: center;
    font-weight: bolder;
}

.logo{
    margin-left: 500px;
    width: 25rem;
    height: 25rem;
    transition: all 0.3s;
}

.logo:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake{
    0%{
        transform: translate(2px,2px) rotate(180deg)
    }
}

.subTitulo{
    font-size: 2rem;
    color:#080808;
    text-align: center;

}

.contenedorImagenes{
    display: inline-block;
    display: flex;
    justify-content: center;
    margin-top: 80px;  
}

.fotosPrincipales{
    width:20rem;
    height:20rem;
    object-fit: cover; 
    transition: all 1s;   
}

.fotosPrincipales:hover{
    transform: scale(2,2);
    z-index: 100;
    box-shadow: 2px 1px 28px 28px rgba(209,192,15,0.51);
    -webkit-box-shadow: 2px 1px 28px 28px rgba(209,192,15,0.51);
    -moz-box-shadow: 2px 1px 28px 28px rgba(209,192,15,0.51);
}

.subContacto{
    margin-top: 2rem;
    text-align: center;
    background-color:#b4f010;
    font-weight: bolder;
}

.contacto{
    margin-top: 100px;
}

.formulario{
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 200px;
    border: 1px solid white;
}

label{
    font-weight: bolder;
    color:#b4f010;
}

section h1{
    color: #080808;
}

section p{
    color: #ffffff;
    text-align:center;
}

.carrouselProductos{
    display:flex;
    overflow-x: scroll;
    width: 70%;
    margin: auto;   
}

.carrouselProductos::-webkit-scrollbar {
    width: 2px;               /* width of the entire scrollbar */
}
  
.carrouselProductos::-webkit-scrollbar-track {
    background: #ffffff;        /* color of the tracking area */
    border-radius: 6px;
}
  
  .carrouselProductos::-webkit-scrollbar-thumb {
      background-color: #080808;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #080808;  /* creates padding around scroll thumb */   
}

.contactoQs{
    margin-top: 20px;
    text-align: center;
    border: 1px solid #080808;
    background-color:#b4f010;
    font-weight: bolder;
}


body h1{
    text-align: center;
    color: #b4f010;
    margin-top: 50px;
}

.productos{
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin: 2%;
}

.contenedorProductos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    cursor: pointer;
    margin-top: 100px;
}

.contenedorProductos div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.imgProductos{
    width: 250px;
    height: 350px;
    object-fit: cover;
    margin: 2%;
    
}

.productosliq{
    text-align: center;
    color: #b4f010;
    margin-top: 20px;
}

.tabla{
    background-color: #ffffff;
    margin: auto;
    margin-top: 20px;
}

th{
    color: #080808;
    font-weight: bolder;
}

.contactoProd{
    margin-top: 20px;
    text-align: center;
    color: #080808;
    border: 1px solid;
    background-color: #b4f010;
    font-weight: bolder;
}
.tituloUbicacion{
    margin-top: 50px;
    text-align: center;
    border: 1px solid #080808;
    background-color:#b4f010;
    font-weight: bolder;
    color: #080808;
}


.contactoUbi{
    margin-top: 20px;
    text-align: center;
    border: 1px solid #080808;
    background-color:#b4f010;
    font-weight: bolder;
}

iframe{
    width: 100%;
}

footer{
    background-color: #080808;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;    
}

.redes{
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
}

.facebook{
    color: #3b5998;
}

.instagram{
    color: #870fbe
}

.wsp{
    color: #25D366;
}

.wsp .facebook .instagram:hover{
    color:#ffffff;
}
.gota{
    width: 50px;
    height: 50px;
    object-fit: content;
}

.horarios{
    margin-top: 10px;
    text-align: center;
    color:  #b4f010;
    font-weight: bolder;
    font-size: 20px;
}