*{
    margin: 0%;
    padding: 0%;
}
body{
    width: 100%;
    font-family: 'Cinzel', serif;
    background-image: url(https://img.freepik.com/foto-gratis/llano-fondo-decorativo-gris-textura_1136-349.jpg?size=626&ext=jpg&ga=GA1.2.935812280.1636502400);
    background-size: 100%;   
}

a{
    text-decoration: none;
}

.barraNavegacion{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.navegadores{
    font-size: 25px;
     font-weight: bolder;
     color: #080808;
}

.casa{
    color: #080808;
}

.casa:hover{
    color: #fcfcfc;
}


.titulo{
    font-size: 50px;
    color:  #080808;
    margin-top: 10px;
    text-align: center;
    font-weight: bolder;
}

.logo{
    margin-left: 500px;
    width: 400px;
    height: 400px;
}

.subTitulo{
    color:#080808;
    text-align: center;

}
.contenedorImagenes{
    display: inline-block;
    display: flex;
    justify-content: center;
    margin-top: 80px;  
}

.fotosPrincipales{
    width:300px;
    height:300px;
    object-fit: cover;    
}

.subContacto{
    margin-top: 50px;
    text-align: center;
    background-color:#b4f010;
    font-weight: bolder;
}

.contacto{
    margin-top: 100px;
}

.formulario{
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 200px;
    border: 1px solid white;
}

label{
    font-weight: bolder;
    color:#b4f010;
}

section h1{
    text-align: center;
    color:#b4f010;
}

section p{
    color: #ffffff;
}

.carrouselProductos{
    display:flex;
    overflow-x: scroll;
    width: 70%;
    margin: auto;   
}

.carrouselProductos::-webkit-scrollbar {
    width: 2px;               /* width of the entire scrollbar */
}
  
.carrouselProductos::-webkit-scrollbar-track {
    background: #ffffff;        /* color of the tracking area */
    border-radius: 6px;
}
  
  .carrouselProductos::-webkit-scrollbar-thumb {
      background-color: #080808;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #080808;  /* creates padding around scroll thumb */   
}

.contactoQs{
    margin-top: 20px;
    text-align: center;
    border: 1px solid #080808;
    background-color:#b4f010;
    font-weight: bolder;
}

.productos{
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin: 2%;
}


body h1{
    text-align: center;
    color: #b4f010;
}


.contenedorProductos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    cursor: pointer;
}

.contenedorProductos div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.imgProductos{
    width: 250px;
    height: 350px;
    object-fit: cover;
    margin: 2%;
    
}

.productosliq{
    text-align: center;
    color: #b4f010;
    margin-top: 20px;
}

.tabla{
    background-color: #ffffff;
    margin: auto;
    margin-top: 20px;
}

th{
    color: #080808;
    font-weight: bolder;
}

.contactoProd{
    margin-top: 20px;
    text-align: center;
    border: 1px solid #080808;
    background-color:#b4f010;
    font-weight: bolder;
}
.tituloUbicacion{
    margin-top: 50px;
    text-align: center;
    border: 1px solid #080808;
    background-color:#b4f010;
    font-weight: bolder;
    color: #080808;
}


.contactoUbi{
    margin-top: 20px;
    text-align: center;
    border: 1px solid #080808;
    background-color:#b4f010;
    font-weight: bolder;
}

iframe{
    width: 100%;
}

footer{
    background-color: #080808;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;    
}

.redes{
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
}

.facebook{
    color: #3b5998;
}

.instagram{
    color: #870fbe
}

.wsp{
    color: #25D366;
}

.gota{
    width: 50px;
    height: 50px;
    object-fit: content;
}

.horarios{
    margin-top: 10px;
    text-align: center;
    color:  #b4f010;
    font-weight: bolder;
    font-size: 20px;
}