.redes{
    @extend %flexRedes;
}


.botonProductos{
    background-color: map-get($colores, background-color );
    &:hover{
        background-color: map-get($colores, segundo );
    }
    
}


.boton{
    background-color: map-get($colores, segundo );
    &:hover{
        background-color: map-get($colores , hover-primero );
    }
    
}

.casa{
    color: black;
    &:hover{
        color: map-get($colores , hover-primero )
    }
}

.facebook{
    color: black;
    &:hover{
        color: map-get($colores, hover-primero )
    }
}

.instagram{
    color: black;
    &:hover{
        color: map-get($colores, hover-primero )
    }
}

.wsp{
    color: black;
    &:hover{
        color: map-get($colores, hover-primero )
    }
}

.correo{
    color: black;
    &:hover{
        color: map-get($colores, hover-primero )
    }
}

iframe{
    width: 100%;
}