$backgroundcolor:  rgba(99, 95, 95, 0.932);
$colortitulos: #face09;

$tipografia:
"Cinzel", serif;




%flex{
    display: flex;
    flex-direction: column;
    justify-content: center;

}



$colores: (
    primero: black,
    segundo: #face09,
    tercero: green,
    background-color: grey,
    hover-primero: white,
    hover-segundo: green


);

$tamaños: (
    ancho-uno: 200px,
    alto-uno: 200px,
    ancho-dos: 250px,
    alto-dos: 250px,
    ancho-tres: 300px,
    alto-tres: 300px,
    ancho-cuatro: 350px,
    alto-cuatro: 350px
    );


